.view-project-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ae079d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    flex-direction: column;
    transition: background-color 0.3s ease;
  }
  
  .view-project-btn:hover {
    background-color: #8517e6;
  }
  
  .view-project-btn:active {
    background-color: #003d80;
  }
  
  .view-project-btn:focus {
    outline: none;
  }
  